<div class="container" data-aos="fade-up">
    <h2 class="section-title">A propos de moi</h2>
    <div class="about-grid">
        <p>
            Je suis <strong>Élève ingénieur en 2ᵉ année de Génie Informatique,</strong>. Spécialisé en développement web,
            gestion de projets et réseaux. Je me spécialise actuellement en data science, business 
            intelligence et intelligence artificielle. Rigoureux, autonome et doté d'un bon esprit d'équipe, 
            je recherche un stage de 2 à 3 mois ou un contrat en
            
        </p>
        <p>
            Mes centres d'intérêt incluent l'interface utilisateur (UI/UX), l'optimisation des performances, la sécurité informatique et les nouvelles technologies. Je suis passionné par l'apprentissage continu et je m'efforce de rester à jour avec les dernières tendances du secteur.
        </p>
    </div>
</div>