<div class="container hero" data-aos="fade-up">
    <div class="hero-text">
        <p class="eyebrow">Salut, je suis</p>
        <h1>
            Glorieux Michel MBUYI KAMANOU
            <span class="accent">Developpeur de logiciels et aspirant analyste de donnees</span>
        </h1>
        <p class="tagline">
            Je crée des applications web modernes, réactives et performantes avec Angular, 
            des API propres et une interface utilisateur/expérience utilisateur agréable.
        </p>

        <div class="hero-actions">
            <button class="btn" (click)="scrollToProjects()">
                Voir mes Projets
                <i class="fa-solid fa-arrow-right"></i>
            </button>

            <a href="acontact" class="secondary-link">
                <i class="fa-regular fa-paper-plane"></i>Collaborons
            </a>
        </div>

        <div class="hero-meta">
            <span><i class="fa-solid fa-code"> Developpeur Web et Analyste de donnees</i></span>
            <span> <i class="fa-solid fa-location-dot"></i> Calais, France</span>
        </div>
    </div>
    <div class="hero-visual" data-aos="fade-left">
        <div class="orb orb-main"></div>
        <div class="orb orb-secondary"></div>
        <div class="hero-card card">
            <p class="hero-card-title"> Travaille actuellement sur</p>
            <p> L'amélioration d'une pharmacie en ligne</p>
            <span class="pill">Angular</span>
            <span class="pill">Spring Boot</span>
        </div>

    </div>
</div>