<div class="container" data-aos="fade-up">
    <h2 class="section-title">Ma formation</h2>
    
    <div class="timeline">
        <div class="timeline-item" *ngFor="let item of education">
            <div class="dot"></div>
            <div class="content card">
                <span class="period">{{ item.period }}</span>
                <h3>{{ item.title }}</h3>
                <h4>{{ item.school }}</h4>
                <p class="description">{{ item.localisation }}</p>
            </div>
        </div>
    </div>
</div>